__pycache__
venv/
.env
live/DJI_0784.MP4
live/SADAR DIRI KAMU!.mp4
live/Kata mutiara lord UUS.mp4
live/normal day saat senam pagi di sekolah.mp4
live/Video EWaras.mp4
yolov4/
yolo/
static/uploads
static/downloads
static/webcam
static/drone
activate.sh
upgrade_module.sh