<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--==================== CSS ====================-->
  <link rel="stylesheet" type="text/css" href="../static/css/index.css" />

  <title>Trash Object Detection</title>
</head>

<body>
  <!--==================== HEADER ====================-->
  <header class="header">
    <p><u> Trash Object Detection - YOLOv4 </u></p>
  </header>

  <!--==================== MAIN ====================-->
  <main class="main">
    <form>
      <input id="imageinput" type="file" name="image" onchange="readUrl(this)" />
    </form>

    <button name="send" class="button" id="sendbutton">Send</button>
    <br />
    <div id="link">
      <a href="" id="download" download>Download</a>
    </div>
  </main>

  <!--==================== MAIN JS ====================-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
</body>

</html>