<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" type="text/css" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" type="text/css" href="../static/css/swiper-bundle.min.css">

    <!--==================== CSS ====================-->
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">

    <title>Trash Object Detection Website</title>
</head>
<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Trash Object Detection Website</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">
                <!-- Theme Change Button -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <!-- <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__content grid">
                    <div class="home__img">
                        <svg class="home__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <mask id="mask0" mask-type="alpha">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                            </mask>
                            <g mask="url(#mask0)">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                                
                                <image class="home__blob-img" x="-108" y="-36" xlink:href="assets/img/profil.png"/>
                            </g>
                        </svg>
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">Hi, I'm Made Rahano</h1>
                        <h3 class="home__subtitle">Software Engineer</h3>
                        <p class="home__description">
                            A Fake Software Engineer who don't know how to code.
                        </p>
                        <a href="#contact" class="button button--flex">
                            Contact Me <i class="uil uil-message button__icon"></i>
                        </a>
                    </div>
                </div>

                <div class="home__scroll">
                    <a href="#about" class="home__scroll-button button--flex">
                        <i class="uil uil-mouse-alt home__scroll-mouse"></i>
                        <span class="home__scroll-name">Scroll Down</span>
                        <i class="uil uil-arrow-down home__scroll-arrow"></i>
                    </a>
                </div>
            </div>
        </section> -->

        <!--==================== IMAGE DETECTION ====================-->
        <section class="image-detection section" id="image-detection">
            <h2 class="section__title">Image Detection</h2>
            <span class="section__subtitle">Max 1 Image</span>

            <div class="image-detection__container container grid">
                <div class="image-detection__content">
                    <div>
                        <i class="uil uil-image image-detection__icon"></i>
                        <h3 class="image-detection__title">Image Detection</h3>
                    </div>

                    <!-- <form method="post" action="http://localhost:5000/detect-image" enctype="multipart/form-data"> -->
                        <div class="image-detection__modal">
                            <input type="file" name="file" class="upload__hide" id="image-upload-custom" multiple="multiple">
                            <label for="image-upload-custom" class="upload__label">
                                <i class="uil uil-upload-alt"></i>
                                <p class="drag__text">Drag & Drop to Upload File</p>
                            </label>
                        </div>
                    <!-- </form> -->
                </div>
                
                <img src="../static/uploads/images/image10.jpg" alt="">
                {% if imagenames %}
                    <!-- {% for filename in filenames %} -->
                        <img src="{{ url_for('static', filename=filename) }}" alt="">
                    <!-- {% endfor %} -->
                {% endif %}
            </div>
        </section>

        <!--==================== VIDEO DETECTION ====================-->
        <section class="video-detection section" id="video-detection">
            <h2 class="section__title">Video Detection</h2>
            <span class="section__subtitle">Max 1 Video</span>

            <div class="video-detection__container container grid">
                <div class="video-detection__content">
                    <div>
                        <i class="uil uil-image video-detection__icon"></i>
                        <h3 class="video-detection__title">Video Detection</h3>
                    </div>

                    <div class="video-detection__modal">
                        <input type="file" name="file" class="upload__hide" id="video-upload-custom" multiple="multiple">
                        <label for="video-upload-custom" class="upload__label">
                            <i class="uil uil-upload-alt"></i>
                            <p class="drag__text">Drag & Drop to Upload File</p>
                        </label>
                    </div>
                </div>

                <video autoplay="autoplay" controls="controls" preload="preload">
                    <source src="../static/uploads/videos/DJI_0100.mp4" type="video/mp4">
                </video>
                {% if videonames %}
                    <video autoplay="autoplay" controls="controls" preload="preload">
                        <source src="{{ url_for('display_videos', filename=videonames) }}" type="video/mp4">
                    </video>
                {% endif %}
            </div>
        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <!-- <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Made Rahano</h1>
                    <span class="footer__subtitle">Software Engineer</span>
                </div>

                <div class="footer__socials">
                    <a href="https://www.instagram.com/md.rahano/" target="_blank" class="footer__social">
                        <i class="uil uil-instagram"></i>
                    </a>

                    <a href="https://github.com/maderahano" target="_blank" class="footer__social">
                        <i class="uil uil-github-alt"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/maderahano/" target="_blank" class="footer__social">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169; Made Rahano. All right reserved</p>
        </div>
    </footer> -->

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <!--==================== JQUERY ====================-->
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    <!--==================== SWIPER JS ====================-->
    <script src="../static/js/swiper-bundle.min.js"></script>

    <!--==================== MAIN JS ====================-->
    <script src="../static/js/index.js"></script>
</body>
</html>