<!DOCTYPE html>
<html>

  <head>
    <title>YOLO-Object Detection</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />

    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/js/index.js"></script>

  </head>

  <body>
    <div class="App">
      <header class="App-header">
        <p><u> Object Detection - YOLO </u></p>
        <button name="cam" class="button" id="opencam">Video Cam</button>
        <br />
        <hr class="line" />
        <form>
          <input
            id="imageinput"
            type="file"
            name="image"
            onchange="readUrl(this)"
          />
        </form>
        <button name="send" class="button" id="sendbutton">Send</button>
        <br />
        <div id="link">
          <a href="" id="download" download>Download</a>
        </div>
      </header>
    </div>
  </body>
</html>
