{% extends "base.html" %}

{% block content %}
<section class="detection section" id="detection">
    <h2 class="section__title">Upload Your File</h2>
    <span class="section__subtitle">Only JPG, PNG, and JPEG, MP4 file!</span>

    <div class="detection__container container grid">
        <!--==================== IMAGE DETECTION ====================-->
        <div class="image-detection__content">
            <div>
                <i class="uil uil-image image-detection__icon"></i>
                <h3 class="image-detection__title">Image Detection</h3>
            </div>
            
            <form class="image-detection__modal" id="uploadImage" method="post" action="/upload-images" enctype="multipart/form-data">
                <input type="file" name="uploadImageFiles" multiple="true" class="upload__hide" id="uploadImageFile" accept=".jpg, .png, .jpeg">
                <label for="image-upload-custom" class="upload__label">
                    <i class="uil uil-upload-alt"></i>
                    <p class="drag__text">Drag & Drop to Upload File</p>
                </label>
            </form>
        </div>

        <!--==================== VIDEO DETECTION ====================-->
        <div class="video-detection__content">
            <div>
                <i class="uil uil-image video-detection__icon"></i>
                <h3 class="video-detection__title">Video Detection</h3>
            </div>

            <form class="video-detection__modal" id="uploadVideo" method="post" action="/upload-videos" enctype="multipart/form-data">
                <input type="file" name="uploadVideoFiles" multiple="true" class="upload__hide" id="uploadVideoFile" accept=".mp4, .MP4">
                <label for="video-upload-custom" class="upload__label">
                    <i class="uil uil-upload-alt"></i>
                    <p class="drag__text">Drag & Drop to Upload File</p>
                </label>
            </form>
        </div>
    </div>
</section>

<section class="result section" id="result">
    {% if imagenames or videonames %}
    <h2 class="section__title">Map Detection</h2>
    
    <div class="media__container grid">
        <div class="map__content">
            <!--==================== IMAGE DETECTION ====================-->
            <div class="portfolio__container container swiper">
                {% if imagenames %}
                <div class="swiper-wrapper">
                    {% for imagename in imagenames %}
                    <div class="portfolio__content swiper-slide">
                        <img src="/static/downloads/images/{{ imagename }}" alt="">
                        <!-- <a href="{{ url_for('download_detection_image', filename=imagename) }}" class="button__download button--flex">
                            Download <i class="uil uil-download-alt button__icon"></i>
                        </a>
                        <a href="/download-images" class="button__download button--flex">
                            Download All <i class="uil uil-download-alt button__icon"></i>
                        </a> -->
                        <a href="{{ url_for('download_detection_image', filename=imagename) }}" class="btn btn-default">
                            Download <i class="uil uil-download-alt button__icon"></i>
                        </a>
                        <a href="/download-images" class="btn btn-default">
                            Download All <i class="uil uil-download-alt button__icon"></i>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="swiper-button-next">
                    <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        
            <!--==================== VIDEO DETECTION ====================-->
            {% if videonames %}
                {% for videoname in videonames %}
                    <video controls="controls" preload="preload">
                        <source src="/static/downloads/videos/{{ videoname }}" type="video/mp4"></source>
                    </video>
                    <a href="{{ url_for('download_detection_video', filename=videoname) }}" class="btn btn-default">
                        Download <i class="uil uil-download-alt button__icon"></i>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}
</section>

<section class="map section" id="map">
    {% if map%}
    <h2 class="section__title">Map</h2>

    <div class="map__container container grid">
        <div class="map__content">
            <div class="map__value">
                {{map.html}}
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}